.taskList {
    list-style: none;
    padding: 0;
    width: 500px;
  }
  
  .taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
  
  &.completed {
    background-color: #f0f0f0;
  }
}

.completedText {
    text-decoration: line-through;
  }
  
.taskItem button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.taskItem button:hover {
  background-color: #c0392b;
}

.taskItem input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;

  }

  .taskListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centrage vertical */
}

.taskListCard {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}